<div class="bottom_ribbon row">
    <span class="col-md-6 chat">{% include 'elements/chatdiv.html.twig' %}</span>
    <span class="col-md-6 control">{% include 'elements/controldiv.html.twig' %}</span>
</div>