<div class="upper_ribbon row">
    <span class="col-md-4"></span>
    <span class="col-md-4 onair_container">
        <span>
            <img id="connection_indicator_on" class="onair onair_on" src="{{ asset('build/images/onair_on.png') }}" title="Connection established!">
            <img id="connection_indicator_off" class="onair" src="{{ asset('build/images/onair_off.png') }}" title="Connection to websocket not established!">
        </span>
    </span>
    <span class="col-md-4">
        <span id="notification_bulb_on" class="animate__animated animate__infinite animate__heartBeat"></span>
        <span id="notification_bulb_off"></span>
    </span>
</div>