<div class="message_area">
    <div id="messages">
        <!--<div class="message">• message</div>-->
        <!--<div class="message">• <span class="message_name">user: </span>message</div>-->
    </div>
</div>