<div class="main_content">
    <div class="main_div">
        <div class="upper_main">{% include 'elements/layout/uppermain.html.twig' %}</div>
        <div class="middle_main">{% include 'elements/layout/middlemain.html.twig' %}</div>
        <div class="bottom_main">{% include 'elements/layout/bottommain.html.twig' %}</div>
    </div>
</div>