<div class="menu_ribbon">
    <button onclick="toggle_friends()" type="button" class="menu_item btn btn-outline-info">FRIENDS</button>
    <button id="notifs_button" onclick="toggle_notifs()" type="button" class="menu_item btn btn-outline-info">NOTIFS</button>
    <button onclick="location.href='/signout'" type="button" class="menu_item btn btn-outline-info" style="margin-left:15px;">SIGNOUT</button>
</div>