<div class="radio_area">
    <div style="height:50%;"></div>
    <div style="height:5%;">
        <div class="scale_line">
            <div class="row">
                <div class="col-md-6 row">
                    <div id="frq_87" class="col-sm-1 scale_top">87</div>
                    <div id="frq_88" class="col-sm-1 scale_bottom">88</div>
                    <div id="frq_89" class="col-sm-1 scale_top">89</div>
                    <div id="frq_90" class="col-sm-1 scale_bottom">90</div>
                    <div id="frq_91" class="col-sm-1 scale_top">91</div>
                    <div id="frq_92" class="col-sm-1 scale_bottom">92</div>
                    <div id="frq_93" class="col-sm-1 scale_top">93</div>
                    <div id="frq_94" class="col-sm-1 scale_bottom">94</div>
                    <div id="frq_95" class="col-sm-1 scale_top">95</div>
                    <div id="frq_96" class="col-sm-1 scale_bottom">96</div>
                    <div id="frq_97" class="col-sm-1 scale_top">97</div>
                    <div id="frq_98" class="col-sm-1 scale_bottom">98</div>
                </div>
                <div class="col-md-6 row">
                    <div id="frq_99" class="col-sm-1 scale_top">99</div>
                    <div id="frq_100" class="col-sm-1 scale_bottom">100</div>
                    <div id="frq_101" class="col-sm-1 scale_top">101</div>
                    <div id="frq_102" class="col-sm-1 scale_bottom">102</div>
                    <div id="frq_103" class="col-sm-1 scale_top">103</div>
                    <div id="frq_104" class="col-sm-1 scale_bottom">104</div>
                    <div id="frq_105" class="col-sm-1 scale_top">105</div>
                    <div id="frq_106" class="col-sm-1 scale_bottom">106</div>
                    <div id="frq_107" class="col-sm-1 scale_top">107</div>
                    <div id="frq_108" class="col-sm-1 scale_bottom">108</div>
                    <div id="frq_109" class="col-sm-1 scale_top">109</div>
                    <div id="frq_110" class="col-sm-1 scale_bottom">110</div>
                </div>
                <div class="scale_top" style="position:absolute;right:0px;">MHz</div>   
            </div>
        </div>
        <div id="scale_arrow"></div>
    </div>
    <div style="height:35%;"></div>
</div>